/* Style for SVG path elements */
path {
    transition: fill 0.3s ease; /* Add transition effect for fill */
}

/* Style for hover effect */
path:hover {
    fill: rgb(228, 137, 10); /* Change fill color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}


#logo {
    max-height: 10vw;
    object-fit: cover;  
    object-position: 50% 50%;
    transition: transform 0.3s ease;
    margin-bottom: 60%;
  }
